/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;400;500;600;700;800;900&display=swap');

/*Variables*/
*{
  font-family: "Big Shoulders Text", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
}

:root {
    --main-color: #273fa1;
    --text-color: #000;
    --bg-color: #fff;
    --container-color: #1e1e2a;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
img{
    width: 100%;
}
section{
    padding: 4rem 0 2rem;
}
.container{
    max-width: 1070px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}